body
{ 
  background: black url(../images/background.png) repeat;
}

#container
{
  padding-top: 20px;
}

#header
{
  height: 100px;
  background: url(../images/targetron_header.jpg) no-repeat;
}
#header img
{
  margin-top: 8px;
}
#little_machine
{
  height: 100px;
  cursor: pointer;
  background: url(../images/targetron_machine_small.jpg) no-repeat;
}

#machine
{
  height: 200px;
  cursor: pointer;
  background: url(../images/targetron_machine.jpg) no-repeat;
}

#audience
{
  height: 200px;
  background: url(../images/targetron_audience.jpg) no-repeat;
}

#learn_more
{
  height: 350px;
  background: url(../images/targetron_more.jpg) no-repeat;
}

/* Blocks */

#media_one, #media_two {
  background: url(../images/media_bg.jpg) no-repeat;
}

#spirit_animal {
  background: url(../images/spirit_animal_bg.jpg) no-repeat;
}

#hobby {
  background: url(../images/hobby_bg.jpg) no-repeat;
}

/* Generic Classes */

.section
{
  background: #999;
  padding: 20px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.info_block
{
  height: 135px;
  padding: 10px;
}

.info_block h5 {
  font-size: 100%;
}
