<!DOCTYPE html>
<html>
<head>
	<title>Targetron5000</title>
	<link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" media="screen" />
	<link href='http://fonts.googleapis.com/css?family=Francois+One|Special+Elite|Squada+One' rel='stylesheet' type='text/css'>
	<link href="/stylesheets/main.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/stylesheets/jquery.jscrollpane.css" rel="stylesheet" type="text/css" media="screen" />
	<meta property="og:title" content="My target audience: <%= @descriptor.copy %> <%= @persona.copy %>" name="target_audience" />
	<meta property="og:url" content="http://targetron5000.com" />
	<meta property="og:image" content="/images/facebook.jpg" />
	<meta property="og:description" content="Find your target audience with the click of a button. Or eight or nine clicks of a button. " />
</head>
<body>

<div id="container" class="container_12">

<%= yield %>

</div>
<%= javascript_include_tag :application %>
</body>
</html>